In [2]:
import scanpy as sc
import anndata as ad

In [3]:
adata = ad.read_h5ad("/home/shtiwar/PhD_Project/Mouse_scRNA_Data/GSE226824_HSPC-variable.h5ad")

In [4]:
adata.obs

,hashtags,time,clusters,n_counts_all,n_counts
AAACCCAGTGTTCATG-1-control,tag3,control,myel. prog. #1,35858.0,257.078827
AAACGAACAAGTAGTA-1-control,tag2,control,ery. prog. #3,16305.0,215.573639
AAACGAACACATTCTT-1-control,tag1,control,MK prog.,23134.0,233.936127
AAACGAACATGGAACG-1-control,tag1,control,myel. prog. #2,27338.0,286.945068
AAACGAACATTCAGGT-1-control,tag1,control,HSCs #1,8226.0,275.746582
...,...,...,...,...,...
TTTGTTGAGGAAGTCC-1-72h,tag4,72h,myel. prog. #1,40709.0,267.552490
TTTGTTGAGTCTTGGT-1-72h,tag1,72h,MK prog.,11550.0,219.886017
TTTGTTGCACCGGTCA-1-72h,tag3,72h,ery. prog. #1,10450.0,269.741394
TTTGTTGCAGAGCGTA-1-72h,tag2,72h,LMPPs #1,11158.0,232.967468
TTTGTTGCAGTCTGGC-1-72h,tag4,72h,HSCs #2,11847.0,270.735291